:root > * {
    --md-code-bg-color: #0c2d48;
    /* --md-code-bg-color: #145da0; */
    --md-code-hl-color: #2e8bc0;
    --md-code-fg-color: #b1d4e0;
  }

  [data-md-color-scheme="peakipy"] {
    --md-primary-fg-color:        #145da0;
    --md-primary-fg-color--light: #b1d4e0;
    --md-primary-fg-color--dark:  #0c2d48;
  }
  