#*.ft2
*.pkl
build/*
!docs/build/*
*.pyc
defaultProject
__pycache__
*.bak
dist/
log.txt
run_log.txt
pip-wheel-metadata
peakipy.egg-info
scripts/fit_peaks_mp
scripts/fit_peaks_old
tmp*
venv/*
.venv
#doc/build/
site/
.vscode/
*.csv
## png files
*.png
!docs/static/*.png
!docs/static/**/*.png
## pdf files
*.pdf
# Tests
test/test_protein_L/tmp/
## pytest
.pytest_cache
.coverage
*~undo-tree~
.opencode/